table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: #3a6070;
    color: white;
    padding: 4px 30px 4px 8px;
}

table td {
    border:1px solid #e3e3e3;
    padding:4px 8px;
}

table tr:nth-child(odd) td {
  background-color: #e7edf0;
}

label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
    }

    fieldset{
        border:none;
        width:500px;
        margin:0px auto;
        }

        .strike{
            text-decoration: line-through;
        }